footer {
    background-color: #161515;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

body{
    background-color: #cac9c9;
}
h1{
    border: black solid 2px;
    padding: 10px;
    border-radius: 20px;
    
}

table {

    border-radius: 100px;
}

th, 
td {
    padding: 10px;
    
}
